h1 {
    color: #0000ff;
    background-color: rgba(196, 196, 196, 0.699);
    font-size: 40px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    text-align: center;
}

.recipe {
    font-size: 32px;
    font-weight: 300;
}